<!DOCTYPE html>
<html>
<head>
  <title>Neil's Portfolio</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="menu col-xs-8">
                    <ul>
                        <li>
                            <a href="/">Welcome</a>
                        </li>

                        <li>
                            <a href="portfolio">Portfolio</a>
                        </li>

                        <li>
                            <a href="#">Blog</a>
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>

                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="name col-xs-4">
                    <h1>Neil Barot</h1>
                </div>
            </div>
        </div>
    </div>
<div class="container" id="cont-about">
	
	<div class="main-about">
		<%= image_tag "https://i0.wp.com/post.healthline.com/wp-content/uploads/2020/03/handling-ball-python-in-lab-1296x728-header.jpg?w=1155&h=1528" %>
		<div class="about-text"
			<p>Hello. My name is <span id="name">Darl HB</span></p>
		</div>
		<div id="about-text"></br>
			<p>I was born in 1995 in Brunei and raised in Bandar Seri Begawan. Now, I'm gonna tell you about my pet, Bolt the ball python.</p>
			<p>Since 2017, I've been taken care of bolt when he was only 2 years old and he really likes to eat some meat.</p>
		</div>
	</div>

</div>